/* 
    Created on : 27-mar-2016, 10.26.31
    Author     : Luigi
*/

/*Layout testo e sezioni pagina generali*/
body 
{
    font-size: 16px;/*dimensione font di base equivalente al font paragrafo*/
    font-family: Georgia, "Times New Roman", serif, sans-serif;
    background-color: white;
}
h1, h2, h3, p
{
    margin-left: 20px;
}
 #sommario_id
{
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
}
p
{
    text-align: justify;
    font-size: 1em;
    margin-right: 20px;
}
h1
{
    color: #042756;
    font-size: 2em;
    font-weight: bold;
}
h2
{
    font-size: 1.2em;
    font-weight: bold;
}
h3
{
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
}
/*Layout menu di navigazione e sommario*/
nav
{
    margin-bottom: 50px;
}
nav a
{
    background-color: #042756;
    display: inline;
    color: white;
    padding: 10px;
    text-align: center;
}
.barra_navigazione
{
    background-color: #042756;
    width: 100%;
    min-width: 320px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 10px #042756;
}
.barra_navigazione a
{
    padding: 10px;
    display: inline-block;
    border-right-style: solid;
    border-right-color: white;
    border-right-width: 1px;

}
#sommario_id
{
    max-width: 300px;/*  max-width: 300px = larghezza del testo max-content
        impostata a dimensione fissa poiché non vi è piena compatibilità nei 
        vari browser del valore "max-content". Impostare un valore corretto in 
        caso di modifica del testo contenuto nel sommario*/
}
#sommario_id a
{
    text-align: left;
    display: inline-block;
    margin: 1px;
    width: 93%;/*dimensione riquadro rispetto al ridimensionamento della 
        finestra del browser inferiore al valore max-content*/
}
a
{
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}
a:visited
{
    color: #ffcc75;
}
/*Layout sezione form input dati*/
form
{
    margin: auto;/*form a centro pagina*/
    max-width: 500px;
    min-width: 240px;
    width: 100%;
    margin-top: 60px;
}
form *
{
    margin: auto;/*posizionamento di ogni elemento del form al centro del form stesso*/
}
label
{
    font-style: oblique;
}
input, .stile_input
{
    background-color: #f2f2f2;
}
input:focus, .stile_input:focus
{
    outline-color: #042756;
}
form select
{  
    width: 100%;
    display: block;

}
form input, form p label, #input_caratteristiche_id
{
    display: block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
#input_caratteristiche_id > p, #input_caratteristiche_id .checkbox
{
    background-color: #f2f2f2;
    margin-top: 5px;
    margin-bottom: 5px;
}
#input_caratteristiche_id input[type="radio"], #input_caratteristiche_id input[type="checkbox"] 
{
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 1%;
    margin-left: 1%;
    width: 20px;  
}
#input_caratteristiche_id p label
{
    text-align: right;
    display: inline-block;
    width: 38%;

}
#input_caratteristiche_id
{
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 240px;
}
form textarea
{
    width: 100%;/* percentuale ripetto alla dimensione del div caratteristiche*/
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}
#pr_q input/*layout campi prezzo e quantità*/
{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    width: 45%;
    text-align: right;
}
#pr_q label/*layout campi prezzo e quantità*/
{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 12%;
    width: 30%;
}
form input[type=submit], form input[type=reset]
{
    display: inline;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 10%;/*  (100% - 2*35%)/3   margini equispaziati      */
    width: 35%;
    background-color: #042756;
    color: white;
}
input[type=submit]:focus, input[type=reset]:focus
{
    color: #ffcc75;
}
.login *
{
    display: block;
    width: 60%;
    margin: auto; 
    
}
.login input
{
    padding: 10px;
}
.login label
{
    margin-top: 15px;
}
/*Layout tabelle dei prodotti*/
table
{
    margin: auto;/*tabella a centro pagina*/
    margin-top: 60px;
    border-collapse: collapse;
}
table th
{
    background-color: #042756;
    border: inset;
    color: white;
    height: 40px;
    text-align: center;
    padding: 15px;
}
table img
{
    max-height: 70px;
}
table td
{
    height: 70px;
    text-align: center;
    border: inset;
}
.row_color tr:nth-child(odd)
{
    background-color: #f2f2f2;
}
table td:first-child
{
    background-color: white;
    width: 30px;
}
/*table td:nth-of-type(3)
{
    width: 20px;
}
table td:nth-of-type(4)
{
    width: 70px;
}
table td:nth-of-type(5)
{
    width: 30px;
}*/
table a
{
    padding: 10px;
    background-color: #042756;
    color: white;
}